.popup {
  position: absolute;
  top: 20%;
  left: 36%;
  width: 500px;
  background: white;
  border: 1px solid black;
  border-radius: 25px;
  visibility: hidden;
  z-index: 2;
  overflow: hidden;
}

.popup.active {
  visibility: visible;
}

#overlay.active {
  filter: blur(10px);
  pointer-events: none;
}
