@import url(./import/scrollbar.css);
@import url(./import/layout.css); /* nagimport ako sa bawat css file nito */
@import url(./import/font.css); /* nagimport ako sa bawat css file nito */
@import url(./modules/popup.css);
* {
  /* BACKGROUNDS */
  --LPU-red: #b20000ea;
  --LPU-grey: #666666;
  --LPU-white: #fff;

  /* FORMS */
  --forms-white: #e5e5e5;

  /* FONTS */
  --font-white: #e5e5e5;
  --font-blackest: #191919;
  --font-black: #323232;
}

/*ROOM MANAGEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
.room-con {
  padding: 50px;
}

.input-filter {
  width: 100%;
  margin-bottom: 15px;
}

.fButton {
  background-color: var(--LPU-red);
}

.fButton:hover {
  background-color: var(--font-black);
}

#room-table {
  margin: 0px;
}

.thead {
  background-color: var(--LPU-red);
  color: var(--font-white);
}

.thead > tr > td {
  text-align: center;
  padding: 15px;
  font-size: 17px;
}

.tbody > tr > td {
  text-align: center;
  padding: 15px;
}

.btn-con {
  margin-top: 35px;
  display: flex;
  gap: 20px;
}
.btn-con > button {
  width: 50%;
}

.form-ele {
  margin-bottom: 10px;
}
